<footer class="flex flex-col items-center justify-center mx-auto bg-white dark:bg-estupinanDark mb-2 space-y-4 md:flex-row md:space-y-0">
    <div class="flex flex-col items-center px-4 bg-white rounded-full p-2">
        <img src="/assets/images/logotipo_alpha.png" alt="" class="w-24 md:w-40" />
    </div>
    <div class="flex flex-col px-10 md:flex-row">
        {% include partials/locations.html %}
    </div>
    <div class="py-6 flex items-center justify-center">
        {% include partials/social.html %}
    </div>
</footer>