<div class="container max-w-6xl mx-auto px-6 py-4 {% if page.id == 'index' %} bg-estupinanDark {% else %} bg-estupinanLightBlue dark:bg-estupinanDark {% endif %}">
    <nav class="flex items-center justify-between font-bold text-estupinanLightBlue">
        {% include partials/language-switcher.html %}
        <div class="hidden h-10 md:flex md:space-x-8">
            {% include partials/main-menu.html %}
        </div>
        <!-- Hamburger Menu -->
        <div class="md:hidden">
            <button id="menu-btn" type="button" class="z-40 block hamburger md:hidden focus:outline-none">
                <span class="hamburger-top"></span>
                <span class="hamburger-middle"></span>
                <span class="hamburger-bottom"></span>
            </button>
        </div>
    </nav>
    {% include partials/mobile-menu.html %}
</div>