<nav class="navbar bg-transparent text-estupinanDark dark:text-estupinanLightBlue w-full absolute z-10">
  <div class="container absolute flex flex-row bg-transparent w-full max-w-screen-xl mx-1.5">
      <div class="flex relative left-0 px-2 py-2 w-auto bg-transparent">
          <button type="button" class="w-[120px] bg-transparent">
              <img src="assets/images/logo.png" alt=""/>
          </button>
      </div>
      <div class="flex py-6 relative right-0 xl:py-0 bg-transparent">
        {% include partials/language-switcher.html %}
      </div>
  </div>
</nav>