@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.work-dropdown .menu {
  display: none;
}

.work-dropdown:hover .menu {
  display: block;
}

/* Navbar toggler */

@media (max-width: 1023px) {
  .navbar .navbar-content {
    display: none;
  }

  .navbar .navbar-toggle:checked ~ .navbar-content {
    display: block;
  }
}