<div class="px-10 flex-row">
    <div class="flex flex-row items-center px-6 space-x-2 w-auto">
        <img src="/assets/images/icons/address.svg" alt="" class="w-[18px]" />
        <p>
            {% t about.contact.location_1.address %}
        </p>
    </div>
    <div class="flex flex-row items-center px-6 space-x-2 w-auto">
        <img src="/assets/images/icons/phone.svg" alt="" class="w-[18px]" />
        <p>
            {% t about.contact.location_1.phone %}
        </p>
    </div>
    <div class="flex flex-row items-center px-6 space-x-2 w-auto">
        <img src="/assets/images/icons/mail.svg" alt="" class="w-[18px]" />
        <p>
            {% t about.contact.location_1.email %}
        </p>
    </div>
</div>
<div class="px-10 flex-row">
    <div class="flex flex-row items-center px-6 space-x-2 w-auto">
        <img src="/assets/images/icons/address.svg" alt="" class="w-[18px]" />
        <p>
            {% t about.contact.location_2.address %}
        </p>
    </div>
    <div class="flex flex-row items-center px-6 space-x-2 w-auto">
        <img src="/assets/images/icons/phone.svg" alt="" class="w-[18px]" />
        <p>
            {% t about.contact.location_2.phone %}
        </p>
    </div>
    <div class="flex flex-row items-center px-6 space-x-2 w-auto">
        <img src="/assets/images/icons/mail.svg" alt="" class="w-[18px]" />
        <p>
            {% t about.contact.location_2.email %}
        </p>
    </div>
</div>