<ul class="flex flex-row lg:items-center w-full">
    {% for lang in site.languages %}
        <li>
            {% assign lang_slug = "/" | append: lang %}
            {% if lang == site.default_language %}
                {% assign lang_slug = "" %}            
            {% endif %}
            <a class="flex rounded px-4 py-2 xl:py-1 {% if lang == site.lang %} cursor-default font-medium {% else %} text-estupinanBlueBase hover:bg-black hover:text-estupinanBlueWhite hover:shadow rounded-full{% endif %}" href="{{ lang_slug }}{{ page.url }}">
                {{ site.data.languages[lang].name }}
            </a>
        </li>
    {% endfor %}
</ul>
