<div class="work-dropdown hidden lg:block">
  <div class="toggle inline-flex rounded-full text-gray-900 font-semibold text-xs tracking-wide uppercase px-4 py-2 cursor-pointer whitespace-nowrap leading-4">
    <img src="assets/images/logo.png" class="w-16" alt=""/>
  </div>
  <div class="menu absolute">
    <div class="w-full rounded-lg overflow-hidden">
      <div class="shadow-sm flex flex-col w-full rounded-lg py-4">
        {% include partials/main-menu.html %}
      </div>
    </div>
  </div>
</div>